.container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  min-height: 18rem;
  background-color: var(--blue-600);
  padding-top: 1rem;
  z-index: 1;

}

.main {
  width: 100%;
  max-width: 1200px;
}

.contactUs {
  width: 100%;
  display: flex;
  justify-content: space-around;

  @media(max-width: 768px) {
    flex-direction: column;
  }
}

.socialMedias {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  > a {
    font-size: 2rem;
    color: var(--gray-300);
    transition: all 0.2s;

    & + a {
      margin-left: 1rem;
    }

    &:hover {
      color: white;
    }
  }
}

.copyright {
  width: 100%;
  background-color: var(--blue-800);
  min-height: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  > p {
    display: flex;
    align-items: center;
    color: var(--gray-300);

    > svg {
      margin-right: 0.1rem;
    }

  }
  
  > a {
    margin-top: 0.5
    rem;
    color: var(--gray-300);
  }
}
